<div class="container">
  <h2 class="title">Dynamic JSON Comparison Tool</h2>

  <div class="controls">
    <button (click)="formatJsons()">Format</button>
    <button (click)="minifyJsons()">Minify</button>
    <button (click)="swapJsons()">Swap</button>
    <button (click)="toggleFontSize()">Toggle Font Size</button>
    <button (click)="toggleTreeView()">Tree View</button>
    <button (click)="resetFields()">Reset Fields</button>
    <button (click)="downloadJson(json1, 'json1.json')">Download JSON 1</button>
    <button (click)="downloadJson(json2, 'json2.json')">Download JSON 2</button>
  </div>

  <div class="json-inputs">
    <div class="json-block">
      <label for="json1">JSON 1:</label>
      <textarea [style.fontSize]="fontSize" rows="15" id="json1" [(ngModel)]="json1" placeholder="Enter JSON 1 here..."></textarea>
      <div *ngIf="showTreeView" class="tree-view">
        <h4>Tree View for JSON 1:</h4>
        <ul>
          <ng-container *ngFor="let node of jsonTree1">
            <app-tree-node [node]="node"></app-tree-node>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="json-block">
      <label for="json2">JSON 2:</label>
      <textarea [style.fontSize]="fontSize" rows="15" id="json2" [(ngModel)]="json2" placeholder="Enter JSON 2 here..."></textarea>
      <div *ngIf="showTreeView" class="tree-view">
        <h4>Tree View for JSON 2:</h4>
        <ul>
          <ng-container *ngFor="let node of jsonTree2">
            <app-tree-node [node]="node"></app-tree-node>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <button class="compare-btn" (click)="compareJsons()">Compare JSONs</button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <h3 *ngIf="differences.length" class="differences-title">Differences:</h3>

  <ul #target class="differences-list">
    <li *ngFor="let diff of differences">{{ diff }}</li>
  </ul>

</div>
